    <include file="Layout:header" />
    	         <div class="row-fluid">
                <div class="span12">
                    <div class="tabbable" id="tabs-495601">
                        <div class="tab-content">
                            <div class="tab-pane active" id="panel-873605">
                                <table class="table table-striped">
                                   <caption style = "font-size:24px;">导入文件</caption>
                                   <tbody>
                                      <td style = "display:inline-block;"><form method = "post" action = "{:U('Excel/import')}" enctype="multipart/form-data"><input type="file" name = "excel"><input type="submit"></form></td>
                                   </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <include file="Layout:footer" />