.left{
	position: relative;
	right: 330px;
	height:100%;
	width:10%;
	float:left;

}
.left-box{
	height:100%;
	text-align:center;
	width:100%;
}
.left-box_inline{
	height:100%;
	width:100%;
}
.top-box{
	height:50px;
	width: 100%;
}
.continer{
	position: relative;
	right: 320px;
	padding-left:0.5%;
	width:50%;
	height:100%;
	float:left;
}
.content{
	height:700px;
	width:100%;
}